.divinputxs{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 120vh;
    background-color: #0D0D0D;
}

.carinpults{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background: linear-gradient(1deg, rgb(19, 19, 19),rgba(19, 19, 19, 0.862), hsla(270, 2%, 49%, 0.116));
    position: absolute;
    z-index: 120;
    top: 0px;
}
.inputstyle{
    display: flex;
    min-width: 300px;
    max-width: 360px;
    width: 100%;
    height: 30px;
    margin: 6px; 
}

.divbarratopup{
    display: flex;
    position: absolute;
    z-index: 122;
    width: 100%;
    height: 70px;
    top: 0px;
}
.imputdiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
    margin-top: 18px;
    align-items: center;
    justify-content: center;
}
.inputup{
display: flex;
width: 80%;
height: 42px;
background-color: rgba(80, 111, 137, 0);
font-size: 14px;
color: aliceblue;
padding: 1px;
padding-left: 26px;
border-style: groove;
border-left-color:rgba(240, 248, 255, 0);
border-right-color:rgba(240, 248, 255, 0);
border-top-color:rgba(240, 248, 255, 0);
border-bottom-color: rgba(240, 248, 255, 0.865);
}
input::placeholder {

    color: rgba(206, 206, 206, 0.396);
    font-size: 14px;
    
  }
.inputup:focus, input:focus {
display: flex;
width: 80%;
height: 42px;
background-color: rgba(80, 111, 137, 0);
font-size: 14px;
color: aliceblue;
padding: 1px;
padding-left: 26px;
border-style: groove;
border-left-color:rgba(240, 248, 255, 0);
border-right-color:rgba(240, 248, 255, 0);
border-top-color:rgba(240, 248, 255, 0);
border-bottom-color: rgba(240, 248, 255, 0.865);
box-shadow: 0 0 0 0;
outline: 0;
 }
.btnregister{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 100%;
    height: 42px;
    padding-bottom: 60px;
    position: absolute;
    z-index: 122;
    bottom: 30px;
}
.btnup{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-style: none;
    width: 90%;
    height: 42px;
    background-color: rgb(248, 248, 248);
    font-size: 20px;
    color: rgb(62, 62, 62);
}
.removerbox{
    display: flex;
    opacity: 0.0;
    pointer-events: none;
}
.divimguploud{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.imgcad{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 80px;
    background-color: rgb(240, 248, 255);
}
.namecadtop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 40px;
    flex-direction: row;
    font-size: 22px;
    font-weight: 600;
    color: rgb(242, 242, 242);
}
  .constimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
  }
  .center_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-top: 60px;
    flex-direction: column;
  }
  .continputgeral{
    display: block;
    margin-top: 60px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 100%;
    background: linear-gradient(1deg, #1d2130,#1a1c26, hsla(270, 2%, 49%, 0.116));
     opacity: 0.8;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0px  rgba(19, 20, 30, 0.37);
    border-radius: 10px;
  }

  .btnupload{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 38px;
    border-radius: 8px;
    color: aliceblue;
    border-style: groove;
    border:2px ;
    background-color: rgba(240, 248, 255, 0.072);

  }
 
  .progress-circle-img {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid ;
    border-style:ridge;
    border-color: rgba(255, 255, 255, 0.67);
    position: absolute;
    z-index: 50;
    box-shadow: 2px 2px 4px 2px rgba(31, 30, 30, 0.684);
  }

  .progress{
   margin-top: 150px;
   width: 100px;
  }
  .iconinp{
    position: absolute;
    left: 26px;
    color: rgba(236, 236, 236, 0.374);
    font-size: 20px;
    margin-bottom: 5px;
  }
  
 
  @keyframes fill-progress {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }